html,
body {
	margin: 0;
	height: 100%;
	font-family: 'Jost';
}

.container {
	display: grid;
	grid-template-columns: 20% 80%;
	height: 100%;
}

.container-sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: lightblue;
	height: 100%;
}

.container-title {
	display: flex;
	align-items: center;
	margin-top: 1rem;
}

.wordmark {
	font-weight: 700;
	font-size: 2em;
}

.container-navigation {
	height: 100%;
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: 0.5rem;
}

.navigation li {
	font-size: 1.3rem;
	cursor: pointer;
}

.etc {
	margin-bottom: 2rem;
}

.etc li {
	list-style: none;
	font-size: 0.8rem;
	padding: 0;
	cursor: pointer;
}

.container-page {
	height: 100%;
}

.dash {
	display: grid;
	background-color: white;
	padding: 1.5em;
}

.header {
	width: 100%;
	display: grid;
	grid-template-columns: 80% 20%;
	align-items: center;
	margin-bottom: 1rem;
}

.container-search {
	display: flex;
	flex-direction: row;
}

.header input {
	background-color: #00000010;
	border: solid 0px;
	border-radius: 2em;
	height: 2em;
	width: 30%;
	margin-left: 1em;
	padding-left: 1em;
	padding-right: 1em;
	transition-duration: 500ms;
}

.header input:focus {
	border: solid 0px;
	border-radius: 2em;
	outline-color: gold;
	height: 2em;
	width: 80%;
	margin-left: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

.icons {
	width: 1.5em;
}

.user {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.profile-pic {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin-left: 1em;
	margin-right: 1em;
}

.toolbar {
	display: grid;
	align-items: center;
	grid-template-columns: 80% 20%;
}

.welcome {
	display: flex;
}

.container-actions {
	display: flex;
	flex-direction: row-reverse;
}

.container-actions button {
	background-color: lightblue;
	border: solid 0px;
	border-radius: 2em;
	height: 2em;
	width: 30%;
	margin-left: 0.2em;
	padding-left: 1em;
	padding-right: 1em;
	cursor: pointer;
}

.container-actions button:hover {
	outline-color: solid 1px gold;
}

.container-cards {
	display: grid;
	grid-template-columns: 75% 25%;
	background-color: #00000015;
	padding: 24px;
	height: 100%;
	box-shadow: inset 0 0 10px #00000020;
}

.container-cards h1 {
	margin: 0;
	margin-bottom: 0.5em;
}

.primary {
}

.cards {
	display: grid;
	gap: 1rem;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	height: 200px;
	background-color: white;
	border-left: solid 10px;
	border-color: gold;
	border-radius: 0.5em;
	padding: 1em;
	box-shadow: 4px 4px 4px #00000015;
	cursor: pointer;
}

.card:hover {
	border-color: red;
	box-shadow: 4px 4px 10px #00000015;
}

.card-title {
	font-size: 1.5em;
	font-weight: 600;
}

.card-description {
	height: 100%;
}

.card-actions {
	display: flex;
	flex-direction: row-reverse;
	gap: 0.5em;
}
